
html, body {
	height: 100%;
	margin: 0;
	padding-top: 10px;
}

#title{
	padding:7px;
	font-size: 28px; 
	font-weight: bold;
	text-align: center;
}

#map {
	height: 80%;
	width:70%;
	float: left;
	margin-left: 3%; 
}

#addMascot{
	padding-top:15px;
	padding-bottom: 15px;
	height:10%;
	float: right;
	margin-right: 7%;
}

#refresh {
	float: right;
	margin-right: 7%;
}

label{
	font-size: 18;
	font-weight: bold;
}

p {
	padding: 0px;
	margin-top: 0px;
	text-align: center; 
}